[submodule "dot-config/awesome/awesome-wm-widgets"]
	path = dot-config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "dot-themes/Dracula_Theme"]
	path = dot-themes/Dracula_Theme
	url = https://github.com/dracula/gtk.git
[submodule "dot-icons/dracula-icons"]
	path = dot-icons/dracula-icons
	url = https://github.com/m4thewz/dracula-icons.git
