[core]
	editor = nvim 
[user]
	name = Martin Chaperot
	email = martin.chapino@gmail.com
	signingkey = 6F64EEA2E1977DC5
[fetch]
	prune = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
