@import "catppuccin-mocha.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 11px;
    padding: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

/***** Pills *****/
#custom-icon,
#workspaces,
#clock,
#submap,
#tray,
#custom-dualsense,
#custom-level,
#power-profiles-daemon,
#battery,
#backlight,
#pulseaudio,
#network,
#custom-dunst {
    padding: 0px 5px;
    background: @base;
    border-top: 1px solid @mauve;
    border-bottom: 1px solid @mauve;
}

#clock {
    border-radius: 32px;
    border: 1px solid @mauve;
    padding: 0 10px;
}

#pulseaudio {
    border-radius: 32px 0 0 32px;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid @mauve;
}

#network {
    border-radius: 0 32px 32px 0;
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid @mauve;
}

#backlight {
    border-radius: 0 32px 32px 0;
    border-right: 1px solid @mauve;
    padding-right: 10px;
}

#power-profiles-daemon {
    border-radius: 32px 0 0 32px;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid @mauve;
}

#workspaces, #tray, #submap, #custom-dualsense, #custom-level {
    border-radius: 32px;
    border: 1px solid @mauve;
}

#tray, #custom-dualsense, #custom-level {
    margin-left: 5px;
    padding: 0 10px;
}

#custom-icon {
    border-radius: 32px;
    padding: 0 6px;
    margin-right: 5px;
    border: 1px solid @mauve;
}

#custom-dunst {
    font-size: 14px;
    border-radius: 32px;
    padding: 0 6px;
    border: 1px solid @mauve;
}

/***** Colors *****/
#network {
    color: @sapphire;
}

#pulseaudio {
    color: @yellow;
}

#backlight {
    color: @sky;
}

#battery {
    color: @green;
}

#power-profiles-daemon {
    color: @peach;
}

#custom-level, #custom-dualsense {
    color: @lavender;
}

#clock {
    color: @pink;
}

/***** Layout *****/
.modules-left,
.modules-center,
.modules-right {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 5px;
}

/***** WORKSPACE *****/
#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0;
    border-radius: 32px;
    background-color: transparent;
    color: @text;
}

#workspaces button.active {
    color: @base;
    background-color: @mauve;
}

#workspaces button.urgent {
    background-color: @red;
}

/***** TRAY *****/
#tray > .passive {
    color: @overlay2
}
