@import "catppuccin-mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 11px;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
}

/***** Pills *****/

#clock {
    border-radius: 32px;
}

#pulseaudio {
    border-radius: 32px 32px 32px 32px;
    margin-right: 5px;
    margin-left: 5px;
}

/* #pulseaudio { */
/*     border-radius: 32px 0 0 32px; */
/* } */
/**/
/* #custom-updates { */
/*     border-radius: 0 32px 32px 0; */
/*     margin-right: 5px; */
/* } */

#backlight {
    border-radius: 0 32px 32px 0;
}

#power-profiles-daemon {
    border-radius: 32px 0 0 32px;
    margin-left: 5px;
}

#workspaces, #tray, #submap {
    border-radius: 32px;
}

#tray {
    margin-left: 5px;
}

#custom-icon,
#workspaces,
#clock,
#submap,
#tray,
#custom-dunst,
#power-profiles-daemon,
#battery,
#backlight,
#custom-updates,
#pulseaudio {
    padding: 0px 10px;
    background: @surface0;
}

#custom-dunst {
    border-radius: 32px;
    padding-right: 11px;
    padding-left: 7px;
}

#custom-icon {
    border-radius: 32px;
    padding-right: 11px;
    padding-left: 7px;
    margin-right: 5px;
}

/***** Colors *****/
#pulseaudio {
    color: @yellow;
}

#backlight {
    color: @sky;
}

#battery {
    color: @green;
}

#power-profiles-daemon {
    color: @peach;
}

#clock {
    color: @pink;
}

/***** Layout *****/
#custom-dunst {
    font-size: 14px;
}

.modules-left,
.modules-center,
.modules-right {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 5px;
}

/***** WORKSPACE *****/
#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0px 2px;
    margin: 0;
    border-radius: 32px;
    background-color: transparent;
    color: @text;
}

#workspaces button.active {
    color: @base;
    background-color: @mauve;
}

#workspaces button.urgent {
    background-color: @red;
}

/***** TRAY *****/
#tray > .passive {
    color: @overlay2
}
