* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrainsMono Nerd Font Mono;
    font-size: 11px;
}

window#waybar {
    background-color: transparent;
    color: #BD93F9;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#keyboard-state,
#window,
#workspaces,
#mpd {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    background: #282A36;
    border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

/***** WORKSPACE *****/
#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0;
    border-radius: 10px;
    background-color: transparent;
    color: #6272A4;
}

#workspaces button.active {
    color: #BD93F9;
    border-bottom: 2px solid #BD93F9;
    border-top: 2px solid #BD93F9;
}

#workspaces button.urgent {
    border-bottom: 2px solid #FF5555;
    border-top: 2px solid #FF5555;
}


/***** WINDOW *****/
window#waybar.empty #window {
    background: transparent;
}
